<!DOCTYPE html>
<html lang="ja">
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="">KANBAN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todo</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="{% url 'kanban:task_index' %}">一覧</a>
              <a class="dropdown-item" href="{% url 'kanban:task_create' %}">新規登録</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dairy</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="{% url 'kanban:diary_index' %}">一覧</a>
              <a class="dropdown-item" href="{% url 'kanban:diary_create' %}">新規登録</a>
            </div>
          </li>
        </ul>

        <a class="ml-2 btn btn-outline-info" href="{% url 'account_logout' %}"　>ログアウト</a>
      </div>
    </nav>

    {% if messages %}
    <div class="container">
      <ul class="messages_ul">
        {% for message in messages %}
          <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer th:fragment="footer">
      <div class="container mb-5">
        <meta charset="utf-8"/>
        <div class="container text-center">
          <!-- ナビゲーション -->
          <ul class="nav justify-content-center mb-3">
            <li class="nav-item">
              <a class="nav-link" href="">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
          <!-- /ナビゲーション -->
        <div style="text-align:center">©2021年 | takafumi nishiwaki</div>
      </div>
    </footer>
  </body>
</html>