{% extends "kanban/base.html" %}
{% block title %}diary_index{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html>
  <body>
    <head>
      <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
      {% load static %}
      <title>diary</title>
    </head>
    <div class="container">
      <div class="text-center">
        <table border="1">
          <tr>
            <th>title</th>
            <th>text</th>
            <th></th>
            <th></th>
          </tr>
          {% for diary in object_list %}
          <tr>
            <td>{{ diary.title }}</td>
            <td>{{ diary.text }}</td>
            <th><a href="{% url 'kanban:diary_update' diary.diary_id %}" class="btn btn-outline-secondary btn-sm text-nowrap">更新</a></th>
            <form action="{% url 'kanban:diary_delete' diary.diary_id %}" method="POST">
              {% csrf_token %}
              <td><input type='submit' value='削除' class="btn btn-outline-danger btn-sm text-nowrap" onclick='return confirm("本当に削除しますか？");'></td>
            </form>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>

{% endblock %}